<h1> Edit Comment </h1>
<div class="comment">
  <p class="content">
  <%= simple_form_for ([@post, @comment]) do |f| %>
  <%= f.input :content, label: "Reply to thread" %>
  <%= f.button :submit, label: "Update Comment", class:"button" %>
  <% end %>
  </p>
</div>
