<h1> Edit Comment </h1>

<%= simple_form_for ([@post, @comment]) do |f| %>
<%= f.input :content, label: "Reply to thread" %>
<%= f.button :submit, label: "Update Comment", class: "button" %>
<% end %>
